<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css"/>
  </head>
  <body>
    <header>
      <h1>Proctor Management System</h1>
    </header>
    <main>
      <section id="schedule">
        <h2>Schedule</h2>
        <div id="schedule-content"></div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Proctor Management</p>
    </footer>
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
