@import url("./reset.css");
:root {
  --cyan: #6fffe9;
  --dark-blue: #0b132b;
  --navy-blue: #1c2541;
  --white: #ffffff;
  --sidebar-bg: var(--dark-blue);
  --sidebar-clr: var(--cyan);
  --icon-clr: var(--sidebar-clr);
  --header-main-content-bg: var(--navy-blue);
  --header-text-clr: var(--sidebar-clr);
  --btn-bg: var(--sidebar-bg);
  --btn-clr: var(--sidebar-clr);
  --btn-border-clr: var(--sidebar-clr);
  --main-content-heading: var(--sidebar-clr);
  --card-bg: var(--sidebar-bg);
  --card-border-clr: var(--sidebar-clr);
  --card-heading-clr: var(--sidebar-clr);
  --card-para-clr: var(--white);
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-clr);
  padding: 1rem;
  display: grid;
  place-content: start;
  gap: 8rem;
}

.sidebar *,
.sidebar ul li {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.sidebar ul {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  gap: 4rem;
  height: 100vh;
}

.sidebar li {
  cursor: pointer;
}

.sidebar ul li:hover {
  position: relative;
  top: -4px;
}

svg {
  fill: var(--icon-clr);
  cursor: pointer;
}

svg:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.sidebar .dashboard > svg {
  width: 2.5rem;
  height: auto;
}

.sidebar ul svg {
  width: 1.5rem;
  height: auto;
}

.sub-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.sub-container svg {
  min-width: 1.5rem;
  height: auto;
}

header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 3fr 1fr;
  background-color: var(--header-main-content-bg);
  color: var(--header-text-clr);
}

.search {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem;
}

.search input {
  border-radius: 20px;
  padding: 0 8px;
  border: none;
  background-color: transparent;
}

.search input:focus,
.search input:hover {
  outline: none;
  background-color: var(--sidebar-clr);
}

.mini-profile {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 3rem;
  padding-right: 3rem;
  justify-content: end;
}

.mini-profile .pic {
  min-width: 2.5rem;
  border-radius: 20px;
}

.profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem;
}

.profile img {
  width: 3.5rem;
  border-radius: 50%;
}

.profile h4 {
  font-size: 0.8rem;
}

.profile h2 {
  font-size: 1.3rem;
}

.upload {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(70px, 5vw, 100px);
  align-items: center;
  justify-content: space-evenly;
}

.upload button {
  padding: 5px 0;
  border-radius: 35px;
  border: 2px solid var(--btn-border-clr);
  background-color: var(--btn-bg);
  color: var(--btn-clr);
  font-weight: 700;
  cursor: pointer;
}

.upload button:hover {
  background-color: var(--btn-clr);
  color: var(--btn-bg);
  transform: scale(1.1);
  transition: 0.3s;
}

.main-content {
  display: flex;
  align-items: center;
  background-color: var(--header-main-content-bg);
}

.main-content h2 {
  color: var(--card-heading-clr);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: start;
  gap: 1rem;
  padding: 1rem;
}

.projects h2 {
  grid-column: 1/-1;
}

.card {
  background-color: var(--card-bg);
  border-radius: 5px;
  border-left: 5px solid var(--card-border-clr);
  height: 200px;
  padding: 1.5rem;
  display: grid;
  align-content: space-between;
  color: var(--card-para-clr);
  cursor: pointer;
}

.card:hover {
  position: relative;
  top: -4px;
}

.fork {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 2rem;
}

.news {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--header-main-content-bg);
}

.news h4,
.news h5 {
  color: var(--card-heading-clr);
}

.news p {
  color: var(--card-para-clr);
}

.announcement,
.trending {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 0.5rem;
}

.wrapper-announcement {
  display: grid;
  place-content: start center;
  place-items: center;
  gap: 2rem;
  background-color: var(--card-bg);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.wrapper-announcement:hover,
.wrapper-trending:hover {
  position: relative;
  top: -4px;
}

.wrapper-trending {
  display: grid;
  place-content: space-evenly start;
  place-items: center;
  background-color: var(--card-bg);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.text-trending {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: center;
}

.wrapper-trending img {
  width: 2.5rem;
  height: auto;
  border-radius: 25px;
}
